<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">CDV Ogłoszenia</a> </h5>


    {% if user.firstName is not defined %}
        <a class="btn btn-outline-primary" href="/login">Logowanie</a>
    {% else %}
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/add-advert">Dodaj ogłoszenie</a>
            <a class="p-2 text-dark" href="/profile">Profil</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Wyloguj</a>
    {% endif %}
</div>
