{% extends 'layout.twig' %}

{% block body %}
    {% include 'navbar.twig' %}
    <div class="container">
        <h1>Witaj {{ user.firstName }}</h1>

        <h2>Zmiana hasła</h2>
        <form class="needs-validation" method="POST" action="/change-password" novalidate="">

            {% if status.status == true %}
                <div class="alert alert-success" role="alert">
                   {{ status.msg }}
                </div>
            {% elseif status.status == false %}
                <div class="alert alert-danger" role="alert">
                    {{ status.msg }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" required="">
                    <div class="invalid-feedback">
                        Hasło jest wymagane
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nowe hasło"
                           value="" required="">
                    <div class="invalid-feedback">
                        Nowe jest wymagane
                    </div>
                </div>
            </div>
            <input type="hidden" name="uId" value="{{ user.uId }}" readonly="">
            <button class="btn btn-primary btn-md btn-block mt-5" type="submit">Zmień hasło</button>
        </form>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
